<!DOCTYPE HTML>
{% load static %}
<head>
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Patient List</title>
    <style>
        img {
            background-images:cover
            }
    </style>
</head>
<body>
    <h1>Patient</h1>
    <table border=3>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        {% for patient in patient_list %}
        <tr>
            <td>{{patient.id}}</td>
            <td>{{patient.firstname}}</td>
            <td>{{patient.lastname}}</td>
            <td>{{patient.age}}</td>
        <td><a href="/update/{{patient.id}}">Update</a></td>
        <td><a href="/delete/{{patient.id}}">Delete</a></td>

        <td><a href="/adddata/{{patient.id}}">Add Data</a></td>
        <td><a href="/analyze/{{patient.id}}">Analyze</a></td>
        </tr>
        {% endfor %}
    </table>
    <br/>
    <img src="{% static 'images/hospital.jpg' %}" >
    <br/>
    
    <a href="/create"> Add Patient</a>
</body>
